{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HTNE Login</title>
  <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>
  <div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{% url 'signup' %}" method="post" id="signup-form">
            {% csrf_token %}
			<h1>Create Account</h1>
            {% if form.errors %}
                <script>alert({{ form.errors }});</script>
            {% endif %}
            <input type="text" placeholder="First Name" name="first_name" required>
			<input type="text" placeholder="Last Name" name="last_name" required>
			<input type="email" placeholder="Email" name="email" required>
            <input type="text" placeholder="Username" name="username" required>
			<input type="password" placeholder="Password" name="password1" required>
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="post" id="login-form">
            {% csrf_token %}
			<h1>Sign in</h1>
            {% if form.errors %}
                <p id="Validator"><span>username or password incorrect</span></p>
            {% endif %}
			<input type="text" placeholder="Email" name="username"/>
			<input type="password" placeholder="Password" name="password"/>
{#			<a href="#">Forgot your password?</a>#}
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Already a part of HTNE Beyond?</h1>
				<p>Gateway to your dashboard</p>
				<button class="ghost" id="signIn" onclick="document.getElementById('container').classList.remove('right-panel-active');">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Join HTNE Beyond!</h1>
				<p>Your Journey Starts here</p>
				<button class="ghost" id="signUp" onclick="document.getElementById('container').classList.add('right-panel-active');">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</body>

</html>
